@font-face {
  font-family: "GoBold";
  src: local("GoBold"), url(./fonts/Gobold-Regular.otf) format("truetype");
}

@font-face {
  font-family: "Gloss And Bloom";
  src: local("Gloss And Bloom"),
    url(./fonts/Gloss_And_Bloom.ttf) format("truetype");
}

.part1 {
  background-image: url(img/bg-part1.jpg);
  background-size: cover;
}

.part2 {
  background-image: url(img/bg-part2.jpg);
  background-size: cover;
  padding: 5%;
}

.part3 {
  background-image: url(img/bg-part3.jpg);
  box-shadow: inset 0px 1000px 1000px 0px rgba(0, 0, 0, 0.7);
  background-size: cover;
  padding: 5%;
}

.part4 {
  background-image: url(img/bg-part4.jpg);
  background-size: cover;
  padding: 5%;
}

.part5 {
  background-image: linear-gradient(to right, #3b0d34 , #891233);
}

.part6{
	padding: 10%;
    background-color: #001020;
}

.partItalo {
  background-image: linear-gradient(to right, #340c32, #881132);
  box-shadow: inset 0px 0px 1000px 0px rgba(0, 0, 0, 1);
  background-size: cover;
  padding: 5%;
}

.termometro {
  margin-bottom: -20px;
  background-image: linear-gradient(to right, #bc1f3f, #008aac);
  color: #4a148c;
}

.texto-termometro {
  font-family: "Gobold";
  color: white;
}

.right-container {
  padding-bottom: 50px;
}

.right-container img {
  width: 100%;
  padding-top: 20%;
  padding-right: 20%;
  padding-left: 20%;
  padding-bottom: 5%;
}

.right-container h3 {
  font-size: 18px;
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
  color: white;
  font-family: "GoBold";
}


.right-container h1 {
  font-size: 30px;
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
  color: white;
  font-family: "GoBold";
}

.left-container {
  padding: 20%;
}

.left-container img {
  width: 100%;
  box-shadow: 10px 10px 0px 0px #fff43c;
}

.left-container h3 {
  position: absolute;
  width: 20%;
  color: white;
  margin: 30px;
  padding-top: 15%;
  font-size: 1em;
  font-family: "GoBold";
}


.left-container span {
  position: absolute;
  width: 20%;
  color: white;
  margin: 30px;
  font-size: 4em;
  padding-top: 1%;
  font-family: "Gloss and Bloom";
}

.container-part2 {
  padding-top: 50px;
}

.part2 h3 {
  color: white;
  font-size: 20px;
  font-family: "GoBold";
}

.part2 span {
  color: white;
  font-size: 100px;
  font-family: "Gloss and Bloom";
}

.text1-part2 div {
  width: 50%;
  margin: auto;
}

.text2-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.text-part3 {
  margin: auto;
}

.part3,
.part4 h1 {
  font-family: "Gobold";
  color: white;
}

.partItalo h1 {
  font-family: "Gobold";
  color: white;
}

.part3 h1 {
  padding-bottom: 20px;
}

.part4 h1 {
  padding-bottom: 50px;
}

.text-3-part3 div {
  width: 50%;
  margin: auto;
}

.text-part3,
h3 {
  font-family: "Gobold";
  color: white;
  font-size: 20px;
}

.text-part3,
span {
  font-family: "Gloss and Bloom";
  color: white;
  font-size: 2em;
}

.ajuste-porcent-sub {
  width: 40%;
  margin: auto;
}

.ajuste-porcent-sub h3 {
  font-size: 20px;
}

.card{
	margin: auto;
    padding: 10%;
    box-shadow: 10px 10px 0px 0px #fff43c;
    background-color: #430d34;
}

.rr-1{
	margin-right: auto;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.rr1-img-part {
  width: 20%;
  margin-left: 5%;
  padding-right: 5%;
  margin-top: auto;
  margin-bottom: auto;
}

.rr1-partido {
  width: 40%;
  margin-right: 5%;
  margin-top: auto;
  padding-left: 5%;
  margin-bottom: auto;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nomepartido{
	-ms-flex-line-pack: center;
    align-content: center;
    font-size: 2em;
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'GoBold';
    color: white;
}

.ttpartido{
	font-size: 1em;
    font-family: 'GoBold';
    color: #dee2e6;
}

.ttpartido i{
	margin-right: 10px;
}

.rr1-img-part img{
	width: 100%;
}

.ghost-size {
  width: 50%;
  padding: 10%;
}

.ghost-size img {
  width: 100%;
}

.nota{
	margin: auto;
    width: 50%;
    padding-right: 5%;
}

.nota h3{
	margin: auto;
    font-size: 1em;
    text-align: left;
}

.denuncia{
	border-style: solid;
    border-width: 3px;
    border-color: white;
    padding: 5%;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}

.denuncia:hover {
  background-color: white;
}

.denuncia:hover p{
	color: black;
}


.denuncia p{
    font-family: 'GoBold';
    margin: auto;
    color: white;
    font-size: 15px;
}

.denuncia i{
	font-size: 20px;
   margin-left: 10%;
}

.botao{
	text-align: center;
}

.row-ranking{
	padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

.ajust-margin{
	margin: auto;
}

.ajust-margin2{
	margin-top: auto;
    margin-bottom: auto;
}

.colaborartext{
	text-align: center;
	margin: auto;
}

.colaborartext p{
	color: white;
	font-family: "GoBold";
	font-size: 2em;
	margin-bottom: 5%;
}

.colaborartext img{
	width: 35%;
}

.megaphonediv{
	width: 30%;
}

.blink_me {
  animation: blinker 0.2s cubic-bezier(0.99, 0, 0, 1.01) infinite;
}

@keyframes blinker {
  50% { color: #fff43c; }
}

.part5 h1{
	font-family: "Gobold";
    color: white;
}

.footer{
	background-color: #001020;
    padding-top: 10%;
    padding-bottom: 10%;
}

.ajust-img-pocs{
	width: 10%;
	height: 10%;
	border-radius: 50%;
	margin: auto;
}

.text-footer{
	font-family: "GoBold";
	color: white;
	font-size: 8px;
}

.logo-footer{
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 5%;
}

.logo-hack{
	width: 25%;
	margin-right: 60px;
}

.logo-nossa{
	width: 20%;
    margin-left: 60px;
}
